.c-tile-list {
  list-style: none;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.c-tile-list__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 360px;
  margin: 10px;
}

.c-article-tile {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
    padding-left: 3%;
}

.c-article-tile a {
  color: inherit;
  text-decoration: none;
}

.c-article-tile__header,
.c-article-tile__body,
.c-article-tile__footer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  flex-direction: column;
}

.c-article-tile__title {
  width: 100%;
}

.c-article-tile__descr {
  font-size: 120%;
  color: #777;
  width: 85%;
}

a > img {
  width: 90%;
  margin-left: 3%;
}

.c-article-tile__header {
  font-size: 100%;
}
.c-article-tile__footer {
  font-size: 80%;
}

.c-article-tile__header {
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.c-article-tile__category {
  font-weight: bold;
}

.c-article-tile__body {
  padding-top: 30px;
  padding-bottom: 0px;
}

.c-article-tile__title {
  margin-top: 10px;
  color: #333;
  font-size: 180%;
}

.c-article-tile__title:not(:hover):not(:active) > a {
  color: inherit;
}

.c-article-tile__footer {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 30px;
  white-space: nowrap;
  color: #949494;
  height: 50px;
  display: flex;
  flex: 1 0 auto;
}

.c-article-tile__date {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.c-article-tile.t-1,
.c-article-tile.t-1 a {
  color: #c69;
}

.c-article-tile.t-2,
.c-article-tile.t-2 a {
  color: #2abc67;
}

.c-article-tile.t-3,
.c-article-tile.t-3 a {
  color: #2980b9;
}

.c-article-tile.t-4,
.c-article-tile.t-4 a {
  color: #99a;
}

.c-article-tile.t-5a,
.c-article-tile.t-5a a {
  color: #5f8c8f;
}

.c-article-tile.t-5,
.c-article-tile.t-5 a {
  color: #3acf6f;
}

.c-article-tile.t-6a,
.c-article-tile.t-6a a {
  color: #e69;
}

.c-article-tile.t-6,
.c-article-tile.t-6 a {
  color: #8980b9;
}

.c-article-tile.t-7,
.c-article-tile.t-7 a {
  color: #a99fb9;
}

.c-article-tile.t-8,
.c-article-tile.t-8 a {
  color: #8a3c67;
}

.c-article-tile.t-9,
.c-article-tile.t-9 a {
  color: #2980b9;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  margin-left: 180px;
  background-color: #EFEFEF;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  vertical-align: top;
}
